name: CI Selenium PHP MySQL

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: damncrud
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Python Dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest pytest-xdist

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Import Database
      run: |
        sudo apt-get install mysql-client
        mysql -h 127.0.0.1 -uroot -proot  damncrud < web/db/damncrud.sql

    - name: Start PHP Server
      run: |
        php -S 127.0.0.1:8000 -t web &
        sleep 5

    - name: Run Pytest Parallel
      run: |
        pytest